@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

.game {
  padding: 0;
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameContainer {
  margin-top: 100px;
}