.top-l-row{
    height: 100px;
    background-image: linear-gradient(to right, #d3d3d3e5 0%, #b3b3b3a2 74%);

}

.top-name {
    padding-top: 25px;
    padding-left: 40px;

}


.top-name h3 {
    font-size: 2.5rem;
    font-weight: 600;
}

.top-object {
    padding-top: 25px;
}
.top-object h4 {
    font-size: 2.5rem;
    font-weight: 600;
}



.l-row {
    height: 70px;
    border-right: bold white 1px;
    background-color: rgba(248, 248, 248, 0.897);

}

.l-row:nth-child(2n){
    background-color: rgba(233, 233, 233, 0.863);
}

.l-container {
    margin-top: 40px;
    height: 70%;
    width: 80%;
    max-width: 1000px;
    border-radius: 10px;
    margin-bottom: 100px;

    -webkit-box-shadow: -3px 5px 40px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -3px 5px 40px 0px rgba(0,0,0,0.6);
    box-shadow: -3px 5px 40px 0px rgba(0,0,0,0.6);
}
.l-object {
    padding-top: 7px;
    padding-left: 30px;
}
.l-object h4 {
    font-size: 2rem;
}

.l-name {
    padding-top: 7px;
    padding-left: 60px;
}
.l-name h4 {
    font-size: 2.5rem;
    font-weight: 500;
}
