
 .navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
  font-size: 3rem;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

.nav-link {
    font-size: 2rem;
}