body {
background-color: #2f4353; 
background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#87e0fd), color-stop(40%,#378ba5), color-stop(100%,#036d91));
background-size: cover;

}

.app-main {
    padding: 0;
    margin: 0;
}
.author-message {
    /* position: fixed; */
    margin-top: 2%;
    margin-left: 2%; 
    font-size: 15px;
    color: white;
}

#dot {
    color: #036e9100
}